@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap"); */

// container
@mixin pc {
    @media (min-width: 1200px){
        @content;
    }
}
@mixin table {
    @media (min-width: 576px){
        @content;
    }
}
// container End

//Utility
.text-center{
    text-align: center;
}
.section {
    padding-bottom: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid #aaa;
    
    &::after{
        content: '';
        display: block;
        width: 100%;

        clear: both;
    }
    &:nth-of-type(2)::after{
        height: 120px;
    }
    &:last-of-type{
        padding-bottom: 32px;
        margin-bottom: 0px;
        border-bottom: 0px solid transparent;
    }

}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}

body{
    background-color: #edece1;
}

a{
    
    text-decoration: none;
    color: #000;
}

    //align 
        .d-flex{
            display: flex;
        }
        .justify-content-evenly {
            justify-content: space-evenly;
        }
    // align End

//---Utility END
//component
.photo{
    width: 90%;
    height: 400px;
    background-image: url("https://raw.githubusercontent.com/YiFanHuang0115/resume/main/images/IMG_4382.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 10%;
    border-radius: 10px;
    @include pc{
        width: 33%;
    }
    @include table{
        max-width: 45%;
    }
}
.person-info{
    & p{
        font-size: 1.2rem;
    }
}
//component End

.wrap {
    border: 1px solid #ccc;
    width: 100vw;
    padding: 50px 15px 50px;
    margin: auto;
    margin-top: 10px; 
    border-radius: 20px;
    @include pc {
        width: 1200px;
        padding: 50px 80px 50px;
        margin-top: 100px; 
    }
}

.timeline {
    padding: 100px 0 200px;
    & li{
        width: 50%;
        box-sizing: border-box;
        padding: 20px 0;
        position: relative;
        &::before{
            position: absolute;
            content:"";
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #aaa;
            z-index: 2;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        &:last-of-type::after{
            height: 50%;
        }
        &:nth-of-type(odd){
            float: left;
            padding-right: 100px;
            &::after{
                content: '';
                position: absolute;
                top: 0;
                width: 1px;
                height: 112%;
                background-color: #ccc;
                right: 0;
                z-index: -1;
            }
            &::before {
                right: -9px;
            }
            & h2::after{
                right: 0;
            }
            & h2:hover:after{
                right: 0;
            }
        }
        &:nth-of-type(even){
            float: right;
            padding-left: 100px;
            transform: translateY(50%);
            &:before{
                left: -10px
            }
            & h2:after{
                left: 0;
            }
        }
    }
    & a{
        display: inline-block;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #aaa;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 3px 3px 5px #888;
        &:hover {
            background-color: #6fa5f6;
            /* transform: scale(1.05); */
            transition-duration: 0.8s ;
            box-shadow: 5px 5px 5px #888;
            & h2, p{
                color: #fff;
            }
        }
    }
    & h2{
        color: #333;
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: 700;
        &::after{
            content: "";
            position: absolute;
            height: 1px;
            width: 100px;
            background-color: #aaa;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
    & p {
        color: #666;
        font-family: 'Noto Sans TC', sans-serif;
    }
}

.box{
    display: block;
    max-width: 320px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    transform: translateY(0px);
    transition: .5s;
    position: relative;
    & img{
        width: 100%;
        vertical-align: middle;
        border: 0px;
        border-radius: 10px;
    }
    & h2{
        border-bottom: 1px solid #333;
        padding-bottom: .3em;
        margin-bottom: .4em;
        font-weight: 500;
        transition: .3s;
        text-align: center;
    }
    & p{
        line-height: 1.6;
        font-weight: 100;
        transition: .3s;
    }
    & .text{
        padding: 20px;
        position: relative;
        
        &::before{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            left: 0;
            top: 0;
            border-top: 40px solid transparent;
            border-left: 160px solid #fff;
            border-right: 160px solid #fff;
            transform: translateY(-100%);
        }
    }
    &:hover{
        transform: translateY(-50px);
        & .text::before{
            border-left: 160px solid #FEB85D;
            border-right: 160px solid #FEB85D;
        }
        & .text{
            background-image: linear-gradient(0deg, #FB8076, #FEB85D);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        & h2{
            color: #fff;
            border-bottom-color: #fff;
            
        }
        & p{
            color: #fff;
        }
    }
    & .alertSign {
        font-size: 45px;
        font-weight: 700;
        position: absolute;
        top: 100px;
        left: 10%;
        color: red;
        transform: rotate(-25deg);
        padding: 8px 50px;
        border: 3px solid red;
    }

}