@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap"); */
.text-center {
  text-align: center;
}

.section {
  padding-bottom: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid #aaa;
}

.section::after {
  content: '';
  display: block;
  width: 300%;
}

.sectionlast-of-type::after {
  clear: both;
}

@media (min-width: 1200px) {
  .sectionlast-of-type::after {
    padding-bottom: 160px;
  }
}

.section:last-of-type {
  border-bottom: 0px solid transparent;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

@media (min-width: 1200px) {
  .section:last-of-type {
    margin-bottom: 0px;
    border-bottom: 0px solid transparent;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  background-color: #edece1;
}

a {
  text-decoration: none;
  color: #000;
}

.photo_card {
  width: 100%;
}

@media (min-width: 1200px) {
  .photo_card {
    width: 55%;
  }
}

.photo_card .photo {
  max-width: 65%;
  min-height: 200px;
  background-image: url("https://raw.githubusercontent.com/YiFanHuang0115/resume/main/images/IMG_4382.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  border-radius: 10px;
}

@media (min-width: 1200px) {
  .photo_card .photo {
    min-width: 80%;
    height: 200px;
  }
}

@media (min-width: 1200px) {
  .photo_card .photo {
    width: 33%;
  }
}

@media (min-width: 576px) {
  .photo_card .photo {
    max-width: 45%;
  }
}

.photo_card a {
  display: block;
}

.person-info p {
  font-size: 1.4rem;
}

@media (min-width: 1200px) {
  .person-info p {
    padding-right: 100px;
  }
}

.wrap {
  border: 1px solid #ccc;
  width: 100vw;
  padding: 50px 15px 50px;
  margin: 10px auto;
  border-radius: 20px;
}

@media (min-width: 1200px) {
  .wrap {
    width: 1200px;
    padding: 50px 80px 50px;
    margin-top: 100px;
  }
}

.skillList {
  width: 100%;
}

@media (min-width: 1200px) {
  .skillList {
    width: 33.33333%;
  }
}

.skillList h3, .skillList h4 {
  border-bottom: 1px solid #F0BEED;
  padding: 0 10px 15px;
  margin: 0px 10px 20px;
}

.skillList ul, .skillList li {
  list-style: disc;
}

.timeline {
  padding: 100px 0 200px;
}

.timeline li {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0;
  position: relative;
}

.timeline li::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #F0BEED;
  z-index: 2;
  top: 0;
  bottom: 0;
  margin: auto;
}

.timeline li:last-of-type::after {
  height: 100%;
}

.timeline li:nth-of-type(odd) {
  float: left;
  padding-right: 100px;
}

.timeline li:nth-of-type(odd)::after {
  content: '';
  position: absolute;
  top: 0;
  width: 1px;
  height: 110%;
  background-color: #F0BEED;
  right: 0;
  z-index: -1;
}

.timeline li:nth-of-type(odd)::before {
  right: -9px;
}

.timeline li:nth-of-type(odd) h3::after {
  right: 0;
}

.timeline li:nth-of-type(odd) h3:hover:after {
  right: 0;
}

.timeline li:nth-of-type(even) {
  float: right;
  padding-left: 100px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.timeline li:nth-of-type(even):before {
  left: -10px;
}

.timeline li:nth-of-type(even) h3:after {
  left: 0;
}

.timeline button {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #aaa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 5px #888;
          box-shadow: 3px 3px 5px #888;
}

.timeline h3 {
  color: #333;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 700;
}

.timeline h3::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100px;
  background-color: #F0BEED;
  top: 0;
  bottom: 0;
  margin: auto;
}

.timeline p {
  font-size: 18px;
  color: #666;
  font-family: 'Noto Sans TC', sans-serif;
}

.timeline2 {
  padding: 30px 0 30px;
}

.timeline2 li {
  margin: 0 auto;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0;
  position: relative;
}

.timeline2 li::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #F0BEED;
  z-index: 2;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -80px;
}

.timeline2 li::after {
  content: '';
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #F0BEED;
  left: -70px;
  z-index: -1;
}

.timeline2 li:last-of-type::after {
  height: 50%;
}

.timeline2 button {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #aaa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 5px #888;
          box-shadow: 3px 3px 5px #888;
}

.timeline2 h3 {
  color: #333;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 700;
}

.timeline2 h3::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 70px;
  background-color: #F0BEED;
  top: 0;
  bottom: 0;
  left: -70px;
  margin: auto;
}

.timeline2 p {
  font-size: 18px;
  color: #666;
  font-family: 'Noto Sans TC', sans-serif;
}

.box {
  display: block;
  max-width: 320px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
}

.box img {
  width: 100%;
  vertical-align: middle;
  border: 0px;
  border-radius: 10px;
}

.box h2 {
  border-bottom: 1px solid #333;
  padding-bottom: .3em;
  margin-bottom: .4em;
  font-weight: 500;
  -webkit-transition: .3s;
  transition: .3s;
  text-align: center;
}

.box p {
  line-height: 1.6;
  font-weight: 100;
  -webkit-transition: .3s;
  transition: .3s;
}

.box .text {
  padding: 20px;
  position: relative;
}

.box .text::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  border-top: 40px solid transparent;
  border-left: 160px solid #fff;
  border-right: 159px solid #fff;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.box .alertSign {
  font-size: 45px;
  font-weight: 700;
  position: absolute;
  top: 100px;
  left: 10%;
  color: red;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  padding: 8px 50px;
  border: 3px solid red;
}

#switch .fa-chevron-circle-down {
  position: relative;
  width: 30px;
}
/*# sourceMappingURL=all.css.map */